$coltest:   #FC0;
$bgcolor:   #2c2d2f;
$txtcolor:  #D3D2D0;
$freqcolor: #999;
$grey:      #999;
$greydark:  #444;
$green:     #33CC33;
$red:       #CC3333;

$interface_height:      82px;
$interface_extra:       38px;
$content-width-max:		680px;

$anim_time:             400;

$title_trunc_height:    37px;
$title_trunc_width:     249px;