/*------------------------------------*\
    $contents
\*------------------------------------*/
/**
 * CONTENTS.............list of modules
 * NORMALIZE............normalize.css library
 * CONFIGURATION........via variables
 * ELEMENTS.............unclassed items
 * OBJECTS..............generic and reusable declerations
 * COMPONENTS...........implementations and specific styling
 */





/*------------------------------------*\
    $normalize
\*------------------------------------*/
@import 'normalize';

/*------------------------------------*\
    $configuration
\*------------------------------------*/
@import 'configuration';

/*------------------------------------*\
    $elements
\*------------------------------------*/

@import 'generalisation';
body {
    background-color: $bgcolor;
    background-image: url(../images/bgtile.jpg);
    color: $txtcolor;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
a {
    border-bottom: 2px dotted $blue;
    color: #EEE;
    text-decoration: none;
    &:hover {
        border-bottom: 2px solid $txtcolor;
        color: $blue;
    }
}
em { border-bottom:2px dotted #444; }




/*------------------------------------*\
    $objects
\*------------------------------------*/

@mixin volume-common() {
    height: ($interface_height + $interface_extra);
    margin: 0;
}





/*------------------------------------*\
    $components
\*------------------------------------*/

.title {
    font-weight: normal;
    margin: 30px auto 10px;
    max-width: $content-width-max;
    overflow: hidden;
    position: relative;
    /*&:target {
        height: $title_trunc_height;
        width: $title_trunc_width;
    }*/

    a {
        color: $greydark;
        content: 'x';
        font-size: 14px;
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-decoration: none;
    }
    /* &:target a, */
    &.truncated a { display:none }
}
.title--fixer {
    display: block;
}

#compatibility {
    color: $grey;
    line-height: 36px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
#compatibility.compatible   { color:$green; }
#compatibility.incompatible { color:$red;   }

#interface {
    background-color: rgba(0,0,0,0.2);
    /* background-image: url(../images/wave.png); */
    float: left;
    height: auto;
    position: relative;
    width: 100%;
}
    .freq {
        color: $freqcolor;
        float: left;
        font-size: 70px;
        margin: 0 0 0 2%;
        text-align: right;
        width: 38%;
    }
    #freq_right { text-align:left; margin:0; }
    #ctl_startstop {
        border: 0;
        display: block;
        float: left;
        font-size: 70px;
        height: 81px;
        overflow: hidden;
        position: relative;
        width: 20%;

        &:after {
            border-radius: 35px;
            box-shadow: 0px 0 5px 5px $grey;
            content: " ";
            display: block;
            height: 58px;
            top: 11px;
            width: 58px;
            margin: 0 auto;
            position: relative;
            opacity: 0;
            transition: opacity 0.2s;
        }
        &.highlight:after {
            opacity: 1;
        }

        &:before {
            color: $greydark;
            content: "\f01d";
            left: 0;
            position: absolute;
            width: 100%;
            line-height: 81px;
        }
        &.enabled:before {
            content: "\f04d"
        }
    }
    /*a*/ #volume {
        @include volume-common();
        background-image: url(../images/volume.png);
        background-repeat: repeat-y;
        border: 0;
        float: right;
        max-width: 15px;
        position: relative;
        width: 2%;
    }
    .indicator {
        @include volume-common();
        background: $greydark;
        display: block;
        position: relative;
    }

    #examples {
        color: $greydark;
        display: block;
        float: left;
        margin: 0 0 0 2%;
        padding: 10px 0;
        text-align: center;
        width: 96%;

        li {
            display: inline-block;
            font-size: 14px;
            padding: 0 8px;
        }
        a {
            color: $grey;
            font-size: 16px;
        }

        &:after {
            content: " ";
            box-shadow: 0px 0 5px 5px #999999;
            width: 464px;
            margin-left: -232px;
            height: 23px;
            position: absolute;
            left: 50%;
            bottom: 10px;
            border-radius: 8px;
            opacity: 0;
            transition: opacity 0.2s;
            pointer-events: none;
        }
        &.highlight:after {
            opacity: 1;
        }
    }

.content {
    clear: both;
    padding: 10px 20px;
    text-align: left;
}
    .instructions {
        margin: 0 auto;
        max-width: $content-width-max;

        ol {
            padding: 0 0 0 100px;
        }

        & li {
            min-height: 90px;
            padding: 0;
            position:relative;

            & .fa:before {
                color: $greydark;
                font-size: 70px;
                left: -100px;
                line-height: 70px;
                text-align: center;
                top: 0;
                position: absolute;
                width: 70px;
            }
        }
    }